* {
  margin: 0;
  padding: 0;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 40px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: lightblue;
}

.navbar {
  background: green !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-link {
  color: blue;
  font-weight: 600;
  font-size: 16px;
}

/* Slider */
#slider {
  width: 100%;
}
.carousel-caption {
  top: 50%;
  /* transform: translateY(-50%); */
  bottom: initial !important;
}
.carousel-caption h5 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
}

/* About */
#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
#about .btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content {
  padding-top: 20px;
}
.skills-bar p {
  font-weight: 600;
  margin-bottom: 6px;
  /* margin-top: 20px; */
}
.progress {
  border-radius: 16px !important;
  margin-bottom: 20px;
}

.progress-bar {
  border-radius: 16px;
}

/* Services */
#services {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7) /* url(img/services.jpg) */
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #efefef;
  padding: 50px 0;
}
#services h1 {
  text-align: center;
  padding-bottom: 20px;
}
#services h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.services {
  margin-top: 40px;
}
.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 100px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#services p {
  font-size: 15px;
  margin-top: 20px;
  color: #ccc;
}
#services .col-md-3:hover {
  background-color: #0075ce;
  cursor: pointer;
  transition: 0.7s;
}

/* Team Members */
#team {
  padding: 50px 0;
  color: #555;
}
#team h1 {
  text-align: center;
  color: #777;
  padding-bottom: 10px;
}
#team h1::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 170px;
  height: 5px;
  border: 1px solid #777;
  background-color: #777;
}
.profile-pic {
  margin-top: 25px;
}
.profile-pic .img-box {
  opacity: 1;
  display: block;
  position: relative;
}
.profile-pic .img-box img {
  filter: grayscale(1);
}
.profile-pic .img-box img:hover {
  filter: grayscale(0);
}
.profile-pic h2 {
  font-size: 22px;
  margin-top: 15px;
  font-weight: bold;
  color: #007bff;
}
.profile-pic h3 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
}
#team .fa {
  height: 25px;
  width: 25px;
  color: #007bff;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
  /* border: 1px solid #007bff; */
}
.img-box img {
  max-width: 200px;
  max-height: 120px;
}
.img-box ul {
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  /* list-style-type: none; */
}
.img-box ul li {
  padding: 3px;
  display: inline-block;
}
.img-box:hover ul {
  opacity: 1;
}
.img-box ul,
.img-gox ul li {
  transition: 0.7s;
}

/* promo */
#promo {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7) /* url(img/promo.jpg) */
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
}

/* Price Plans */
#price {
  text-align: center;
  padding: 40px 0;
  background: #efefef;
}
#price h1::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  background-color: #0075c0;
  margin: 10px auto;
}
.single-price {
  margin: 10px auto;
  background-color: #ddd;
  /* display: inline; */
  transition: 0.5s;
}
.single-price:hover {
  box-shadow: 0 2px 20px #333;
}
.price-head {
  background-color: #0075c0;
  padding: 10px 5px;
}
.price-head h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}
.price-head p {
  color: #ccc;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#price span {
  font-size: 15px;
}
.price-content {
  padding: 0 15px;
}
.price-content ul li {
  border-bottom: 1px solid #efefef;
  list-style-type: none;
  padding: 15px 10px;
}
.price-content ul li:last-child {
  border: none;
}
.fa-check-circle {
  color: #070;
  /* font-size: 20px; */
  margin-right: 10px;
}
.fa-times-circle {
  color: #700;
  margin-right: 10px;
}
.price-button {
  padding: 15px 15px 30px;
  text-align: center;
  /* border: 1px solid brown; */
}
.buy-btn {
  background-color: #2196f3;
  border-radius: 3px;
  color: #fff;
  padding: 20px 50px;
  font-size: 18px;
  transition: 0.5s;
}
.buy-btn:hover {
  background-color: #3f51b5;
  border: 1px solid #fff;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}

/* Testimonials */
#testimonials {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 30px 0;
}
#testimonials h1 {
  color: #ccc;
}
#testimonials h1::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  background-color: #ccc;
  margin: 10px auto;
}
